body {
  font-family: "Open Sans", sans-serif;
  background: rgb(22, 22, 22);
}
/*Header Styling Starts*/
.header {
  background: #1e2124;
  color: rgba(255, 255, 255, 0.9);
  border-top-color: #1e2124;
}

.header {
  padding: 30px 0;
  border-top: 10px solid #c69200;
  display: flex;
  justify-content: center;
}

/*Responsive Container*/
@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}

@media (max-width: 700px) {
  #projImg {
    width: 150px;
    height: 140px;
  }
}

@media (max-width: 1420px) {
  #projImg {
    width: 240px;
    height: 220px;
  }
}

@media (max-width: 900px) {
  #projImg {
    width: 140px;
    height: 150px;
  }
}

.align-items-center {
  align-items: center !important;
}

.col {
  display: flex;
  justify-content: center;
}

.header .profile-image {
  margin-right: 30px;
  margin-left: 8px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.float-start {
  float: left !important;
}
.img-fluid {
  max-width: 100%;
}

.header .profile-content .name {
  color: rgba(255, 255, 255, 0.9);
}

.header .profile-content .name {
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #183153;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #e87934;
  color: white;
}

ul.social.list-inline {
  display: contents;
}

/*Header Style Ends*/

/*Grid Starts*/

.gridLayout {
  padding: 10px;
  background-color: #1e2124;
  margin-top: 90px;
}

.columnP {
  float: left;
  width: 30%;
  padding: 0 21px;
  margin-top: 20px;
}

/* Remove extra left and right margins, due to padding */
.rowP {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.rowP:after {
  content: "";
  display: table;
  clear: both;
}

#projImg {
  border-radius: 20px;
}

#projImg:hover {
  opacity: 0.7;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .columnP {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #co {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

button {
  background-color: #c69200;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.3s;
}

button:hover {
  background-color: #183153;
}

/* Style the counter cards */

.card {
  box-shadow: 0 4px 8px 0 rgb(122 148 59 / 20%);
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #232323;
  /* border: 1px dashed #C69200; */
}
/*Grid Ends*/

/*About Styling Starts*/
.about {
  margin-top: 20px;
}
.columnAL {
  float: left;
  width: 60%;
  padding: 0 6px;
  margin-top: 20px;
}

.columnAR {
  float: right;
  width: 30%;
  padding: 0 6px;
  margin-top: 20px;
}

.cardA {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #232323;
  /* border: 1px dashed #C69200; */
  border-radius: 5px;
}

.cardA > h2 {
  text-align: left;
  font-weight: bold;
}

.cardA > p {
  text-align: left;
}
/*About Styling Ends*/
