body {
  font-family: "Open Sans", sans-serif;
  background: rgb(22, 22, 22);
}
/*Header Styling Starts*/
.header {
  background: #1e2124;
  color: rgba(255, 255, 255, 0.9);
  border-top-color: #1e2124;
}

.header {
  padding: 30px 0;
  border-top: 10px solid #c69200;
  display: flex;
  justify-content: center;
}

/*Responsive Container*/
@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}

.align-items-center {
  align-items: center !important;
}

.col {
  display: flex;
  justify-content: center;
}

.header .profile-image {
  margin-right: 30px;
  margin-left: 8px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.float-start {
  float: left !important;
}
.img-fluid {
  max-width: 100%;
}

.header .profile-content .name {
  color: rgba(255, 255, 255, 0.9);
}

.header .profile-content .name {
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #183153;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #e87934;
  color: white;
}

ul.social.list-inline {
  display: contents;
}
